PIAPI.json
[{"id":"bb878843.aacb08","type":"subflow","name":"Save SQL Database","info":"","category":"","in":[{"x":200,"y":200,"wires":[{"id":"fdc658aa.52def8"},{"id":"c95d81f6.7b8a2"}]}],"out":[{"x":960,"y":240,"wires":[{"id":"47b162e7.0d922c","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"c95d81f6.7b8a2","type":"change","z":"bb878843.aacb08","name":"Insert tagname","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO Data_tagname(tagname,data_value,location,`datetime`,ts) VALUES(?,?,'SCG-Boiler',?,NOW())","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[data.tagname,$string(data.Value),data.datetime]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["47b162e7.0d922c"]]},{"id":"fdc658aa.52def8","type":"change","z":"bb878843.aacb08","name":"Update tagname","rules":[{"t":"set","p":"topic","pt":"msg","to":"UPDATE All_tag_name SET data_value= ?,location='SCG-Boiler',`datetime`=?,ts=now() WHERE tag_name=?;","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[ $string(data.Value),data.datetime,data.tagname]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["47b162e7.0d922c"]]},{"id":"47b162e7.0d922c","type":"mysql","z":"bb878843.aacb08","mydb":"e43a2397.bc9a3","name":"BTG_PIMS","x":770,"y":240,"wires":[[]]},{"id":"e43a2397.bc9a3","type":"MySQLdatabase","name":"","host":"104.248.148.216","port":"3306","db":"BTG_PIMS","tz":"","charset":"UTF8"},{"id":"615354a8.77dd7c","type":"tab","label":"BTG & SCG Boiler","disabled":false,"info":""},{"id":"79177069.b1b4c","type":"debug","z":"615354a8.77dd7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":240,"wires":[]},{"id":"b0dbe69b.35fc48","type":"inject","z":"615354a8.77dd7c","name":"Test-Alarm-Code","props":[{"p":"Value","v":"Alarm2:1,Alarm3:1,Alarm4:1,Alarm6:1,Alarm7:0 ,Alarm9:0 ,Alarm10:0, Alarm11:0 ,Alarm12:0,Alarm13:0,Alarm14:0,Alarm15:0,Alarm16:0,Alarm17:0,Alarm19:0,Alarm21:0,Alarm23:0,Alarm25:0,Alarm27:0,Alarm28: 0,Alarm29:0,Alarm31:0,Alarm32:0,Alarm33:0,Alarm38:0,Alarm39:0,Alarm40:0,Alarm41:0,Alarm43:0,Alarm50:0,Alarm51:0,Alarm60:1,Alarm63:1","vt":"str"},{"p":"Timestamp","v":"2022-04-29T16:35:32.2322361Z","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":40,"wires":[["5c7bbb36.3eb3b4"]]},{"id":"8d4a4a89.802718","type":"function","z":"615354a8.77dd7c","name":"","func":"\nvar stripped =msg.Value.trim();\nvar Data01 = stripped.split(',');\nvar Data02=[];\nvar values =[];\nvar Alarm=[];\nvar Data=[];\nvar value;\nvar Alarmkey=[];\nvar updatekey=[];\nvar i;\n\nif(msg.tagname == \"Test-Code-Alarm\"){\n\n\n    for(i=0;i< Data01.length;i++)\n    {\n        Data02[i] =Data01[i].split(\":\") ;       \n        values[i]=Number(Data02[i][1]);\n        Alarmkey[i] = (Data02[i][0]).trim();\n        updatekey[i]=Number(Alarmkey[i].replace(\"Alarm\",\"\"))\n        \n     \n         if(values[i]!=0 )\n          {\n              Alarm.push(updatekey[i])\n        \n          }\n  \n    }\n        value ={\n              \"eq_code\": \"BOILER-01\",\n             \"alarm_code\" : Alarm\n                }\n\n        msg.data={\n              \"tagname\": \"TEST-Code-Alarm\",\n              \"datetime\" : msg.datetime,\n              \"Value\" : value\n    \n                }\n        msg.Path=\"manual_alarm\";\n\nreturn msg;\n\n}else if(msg.tagname == \"TEST-Join-String\")\n\n{\n    for( i=0;i< Data01.length;i++)\n{\n        Data02[i] =Data01[i].split(\":\") ;       \n        values[i]=Number(parseFloat(Data02[i][1]).toFixed(2))\n             \n}\n\n  value ={\n\"eq_code\": \"BOILER-01\",\n\"feed_water_flow_rate\": values[0],\n\"feed_water_temperature\":  values[1],\n\"boiler_water_level\":values[2],\n\"condensate_tank_pressure\":  values[3],\n\"condensate_tank_conductivity\":values[4],\n\"coal_consumption\": values[5],\n\"forced_draft_fan_value\": values[6],\n\"induced_draft_fan\": values[7],\n\"furnace_temperature\":  values[8],\n\"furnace_pressure\":  values[9],\n\"flue_gas_temperature\": values[10],\n\"excess_o2\":  values[11],\n\"steam_pressure\":  values[12],\n\"steam_flow_rate\": values[13],\n\"boiler_capacity\":  values[14],\n\"boiler_water_conductivity\":  values[15],\n\"timestamp\": msg.datetime\n}\n\nmsg.data={\n    \"tagname\": msg.tagname,\n    \"datetime\" : msg.datetime,\n    \"Value\" : value\n    \n}\nmsg.Path=\"autofill\";\n  return msg;\n    \n}\nelse if(msg.tagname == \"TEST-Coal-Weight\"){\n   value ={\n  \"eq_code\": \"BOILER-01\",\n  \"coal_weight\": msg.Value,\n  \"coal_weight_batch\": 0\n}\n\nmsg.data={\n    \"tagname\": \"TEST-Coal-Weigh\",\n    \"datetime\" : msg.datetime,\n    \"Value\" : value\n    \n}\nmsg.Path=\"coal_weight\";\n\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":240,"wires":[["ad6c45bf.c03568"]]},{"id":"fa9c9e66.ae33d","type":"web-api-query","z":"615354a8.77dd7c","name":"TEST-Coal-Weight","server":"8315d41.ab76428","queryMethod":"webId","webId":"F1DPq3V7ShdAvkWgtX0QoiSysAxwkAAATlAtUEktU0VSVkVSXFRFU1QtQk9JTEVSLVBFQUtTQ0FMRQ","piDB":"NP-PI-SERVER","piTag":"","dataType":"value","customUrl":"","x":410,"y":340,"wires":[["20600292.32dd5e"]]},{"id":"e4ae635b.5c0e2","type":"inject","z":"615354a8.77dd7c","name":"Coal-Weight","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":200,"y":340,"wires":[["fa9c9e66.ae33d"]]},{"id":"b52af14.284ee1","type":"web-api-query","z":"615354a8.77dd7c","name":"TEST-Join-String","server":"8315d41.ab76428","queryMethod":"webId","webId":"F1DPq3V7ShdAvkWgtX0QoiSysAxwUAAATlAtUEktU0VSVkVSXFRFU1QtSk9JTi1TVFJJTkc","piDB":"NP-PI-SERVER","piTag":"","dataType":"value","customUrl":"","x":410,"y":240,"wires":[["df7b3da2.bebc9"]]},{"id":"a13151e2.31645","type":"inject","z":"615354a8.77dd7c","name":"Sensor-Autofill","props":[],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":220,"y":180,"wires":[["b52af14.284ee1"]]},{"id":"20600292.32dd5e","type":"change","z":"615354a8.77dd7c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$toMillis(Timestamp)","tot":"jsonata"},{"t":"set","p":"datetime","pt":"msg","to":"$fromMillis(timestamp,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]')","tot":"jsonata"},{"t":"set","p":"tagname","pt":"msg","to":"TEST-Coal-Weight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["da843e6e.a6f48"]]},{"id":"df7b3da2.bebc9","type":"change","z":"615354a8.77dd7c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$toMillis(Timestamp)","tot":"jsonata"},{"t":"set","p":"datetime","pt":"msg","to":"$fromMillis(timestamp,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]')","tot":"jsonata"},{"t":"set","p":"tagname","pt":"msg","to":"TEST-Join-String","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[["8d4a4a89.802718"]]},{"id":"5c7bbb36.3eb3b4","type":"change","z":"615354a8.77dd7c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$toMillis(Timestamp)","tot":"jsonata"},{"t":"set","p":"datetime","pt":"msg","to":"$fromMillis(timestamp,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]')","tot":"jsonata"},{"t":"set","p":"tagname","pt":"msg","to":"Test-Code-Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":60,"wires":[["8d4a4a89.802718"]]},{"id":"da843e6e.a6f48","type":"switch","z":"615354a8.77dd7c","name":"","property":"Value","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":340,"wires":[["5c74b021.a22fd"]]},{"id":"ad6c45bf.c03568","type":"change","z":"615354a8.77dd7c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api-gateway-smart-boiler-4ti6wlqu4q-as.a.run.app/api/sensor/{{Path}}","tot":"str"},{"t":"change","p":"url","pt":"msg","from":"{{Path}}","fromt":"str","to":"Path","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"data.Value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":240,"wires":[["13f419bc.e6dc06","c6cefd3b.1eb73"]]},{"id":"13f419bc.e6dc06","type":"http request","z":"615354a8.77dd7c","name":"Rest API SCG","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"bearer","x":1400,"y":300,"wires":[["79177069.b1b4c"]]},{"id":"c6cefd3b.1eb73","type":"subflow:bb878843.aacb08","z":"615354a8.77dd7c","name":"","env":[],"x":1400,"y":160,"wires":[["79177069.b1b4c"]]},{"id":"742a3a9c.b37694","type":"comment","z":"615354a8.77dd7c","name":"MySQL","info":"Username: PIMS\nUsername: PIMS\n\nroot\nbetagroshop","x":1350,"y":120,"wires":[]},{"id":"d525650.8734f98","type":"web-api-query","z":"615354a8.77dd7c","name":"TEST-Alarm_String","server":"8315d41.ab76428","queryMethod":"webId","webId":"F1AbE9eJJlVt0mkGlgZfP2fQdhAEGA5xVSg7BG0Wvi0araGEAMAqAgbSQX068R04_xTC0MQTlAtUEktQUZcV0FUQ0hBUkFQT0xCVUFLTEVFXEJPSUxFUlxBTEFSTXxBTEFSTV9TVFJJTkc","piDB":"NP-PI-SERVER","piTag":"","dataType":"value","customUrl":"","x":430,"y":100,"wires":[["5c7bbb36.3eb3b4"]]},{"id":"9b971c3e.90bdc","type":"inject","z":"615354a8.77dd7c","name":"Alarm-Code","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":100,"wires":[["d525650.8734f98"]]},{"id":"c37e70fd.a7ac5","type":"debug","z":"615354a8.77dd7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tagname","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":380,"wires":[]},{"id":"5c74b021.a22fd","type":"function","z":"615354a8.77dd7c","name":"","func":"\nif(msg.tagname == \"TEST-Coal-Weight\"){\n   value ={\n  \"eq_code\": \"BOILER-01\",\n  \"coal_weight\": msg.Value,\n  \"coal_weight_batch\": 0\n}\n\nmsg.data={\n    \"tagname\": \"TEST-Coal-Weigh\",\n    \"datetime\" : msg.datetime,\n    \"Value\" : value\n    \n}\nmsg.Path=\"coal_weight\";\n\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":340,"wires":[["ad6c45bf.c03568"]]},{"id":"8315d41.ab76428","type":"web-api-client","name":"Real-Server","serverURL":"172.17.50.164/PIwebapi","authenticateMethod":"basic","usetls":true,"tls":"b50d2d8b.bbace"},{"id":"b50d2d8b.bbace","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]